/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.flex {
  display: flex;
}

:root {
  /* colors */
  --bg-pubblicità: rgba(0, 0, 0, 0.4);
  --bg-colonna-destra-main: #141922;
  --bg-footer: #282828;
  --bg-sottolineatura: #ADFF2F;
  --color-text: #A3A3A3;
  /* /colors */

  /* altezze */
  --lista-playlist: 30vh;
}

.margin {
  margin-left: 35px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
}
/* /common */

.general {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* layout main */
main {
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}

.col-left {
  width: 230px;
  background-color: black;
  height: 100%;
  min-height: 480px;
  flex-direction: column;
  justify-content: space-between;
}

.container-left {
  width: 100%;
}

.container-left .logo {
  padding: 10px 0 0 15px;
}

.container-left .logo .img-logo {
  width: 60%;
  margin-bottom: 30px;
}

.container-left .logo .logo-small {
  display: none;
}

.container-left .lista-menu {
  margin: 10px 0 0 0;
}

.container-left .lista-menu .menu {
  list-style: none;
}

.container-left .lista-menu .menu .li-menu {
  margin-bottom: 10px;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.container-left .lista-menu .menu .li-menu-home {
  border-left: 4px solid var(--bg-sottolineatura);
  margin-bottom: 10px;
  padding-left: 11px; 
}

.svg {
  width: 15%;
  vertical-align: middle;
}

.text-menu {
  color: var(--color-text);
  font-weight: 600;
  font-size: 0.9em;
}

.text-menu:hover {
  color: white;
}

.playlist {
  margin: 30px 0 0 0;
  padding-left: 15px;
}

.playlist .text-playlist {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.add-playlist {
  height: 40px;
  width: 40px;
  background-color: var(--color-text);
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.add-playlist .plus {
  font-size: 2.5em;
  color: black;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
}


.section-playlist:hover a {
  color: white;
}

.section-playlist .text-create-playlist {
  line-height: 40px;
  color: var(--color-text);
  display: inline-block;
  font-weight: 600;
}

.lista-playlist {
  margin: 10px 0 0 0;
  padding-left: 15px;
  height: var(--lista-playlist);
  overflow: auto;
}

.lista-playlist .name-playlist {
  list-style: none;
}

.lista-playlist .name-playlist .li-name-playlist {
  color: var(--color-text);
  font-weight: 600;
  margin-top: 20px;
}

.li-name-playlist:hover a {
  color: white;
}

.container-profile {
  width: 100%;
}

.container-profile .app {
  width: 93%;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-text);
  padding: 10px 0;
}

.app:hover a {
  color: white;
}

.container-profile .app .download {
  width: 10%;
  vertical-align: middle;
  margin-right: 10px;
}

.container-profile .app .installa {
  color: var(--color-text);
  font-weight: 600;
}

.container-profile .profile-flex {
  width: 93%;
  margin: 10px auto 10px auto;
  display: flex;
}

.profile-flex:hover a {
  color: white;
}

.container-img-profile {
  width: 30px;
  height: 30px;
  background-color: var(--color-text);
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
}

.container-img-profile .img-profile {
  width: 70%;
  margin-right: 10px; 
  margin: 0 auto;
}


.profile-flex .name-profile {
  line-height: 30px;
  color: var(--color-text);
  font-weight: 600;
}

.col-right {
  width: calc(100% - 230px);
  background-color: var(--bg-colonna-destra-main);
  height: 100%;
  overflow: auto;
  padding: 30px 40px;
}

.col-right .row-top {
  height: 80px;
  width: calc(100% - 230px);
  background-color: var(--bg-pubblicità);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  justify-content: flex-end;
  align-items: center;
}

.container-btn .btn-call-to-action {
  padding: 15px 40px;
  margin-right: 25px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid white;
  
}
.btn-call-to-action:hover {
  cursor: pointer;
}

.btn-call-to-action .text-btn {
  color: white;
  font-weight: 800;
  display: inline-block;
}

.row-main {
  padding-top: calc(90px + 2em);
  padding-bottom: 2em;
  width: 100%;
  overflow: auto;
}

.row-main .lista-top {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.row-main .lista-top .ul-lista-top {
  list-style: none;
  display: flex;
  justify-content: center;
}

.row-main .lista-top .ul-lista-top .li-lista-top {
  padding: 5px 15px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li-lista-top:hover .a-lista-top {
  color: white;
}

.li-lista-top .bordo {
  width: 30px;
  height: 2px;
  background-color: var(--bg-sottolineatura);
  display: block;
}

.container-song {
  justify-content: space-between;
}

.h1 {
  color: white;
  font-weight: 700;
}

.song {
  margin-bottom: 60px;
  max-width: 300px;
  padding: 0 10px 0 0;
  width: calc(100% / 6);
}

.container-personal-song {
  width: calc(100% / 3 - 10px);
  justify-content: space-between;
}

.container-personal-song .song {
  width: calc(100% / 2);
}

.container-categorie .title {
  margin-bottom: 20px;
}

.img-song-cover {
  width: 100%;
}

.song .img-song {
  position: relative;
}

.img-song .trasparenza {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.trasparenza-circle {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  border-radius: 50%;
}

.trasparenza .fa-play-circle {
  font-size: 2em;
}

.trasparenza-circle .fa-play-circle {
  font-size: 2em;
}

.icona-cover {
  font-size: 3em;
}

.img-song:hover .trasparenza {
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.img-song:hover .trasparenza-circle {
  display: flex;
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.trasparenza:hover .icona-cover {
  color: white;
}

.trasparenza-circle:hover .icona-cover {
  color: white;
}

.song .title-song {
  text-align: center;
  margin: 10px auto;
  width: 100%;
}

.song .title-song .title-playlist {
  color: white;
  font-weight: 600;
}

.song .subtitle-song {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.song .subtitle-song .subtitle-playlist {
  color: var(--color-text);
  font-weight: 600;
}

.subtitle-playlist-2 {
  margin-top: 10px;
  color: var(--color-text);
  font-weight: 600;
}

.img-song-cover-bottom {
  width: 100%;
  border-radius: 50%;
}


/* /layout main */

/* layout footer */
footer {
  height: 90px;
  width: 100%;
  background-color: var(--bg-footer);
}

.footer {
  justify-content: space-around;
  align-items: center;
}

.col-left-footer {
  align-items: center;
  width: 200px;
  justify-content: center;
  padding-left: 20px;
}

.img-footer {
  width: 50px;
}

.container-title-footer {
  margin-left: 10px;
}

.title-footer {
  color: white;
  font-weight: 800;
}

.subtitle-footer {
  color: var(--color-text);
  font-weight: 800;
  font-size: 13px;
}

.favourite {
  margin-left: 20px;
}

a:hover .icona {
  color: white;
}

.fa-heart {
  color: var(--color-text);
}

.fa-folder {
  color: var(--color-text);
}

.col-center-footer {
  flex-direction: column;
  align-items: center;
  width: calc(100% - (200px * 2));
}

.center-footer-top i {
  color: #C1C1C1;
  font-size: 1.5em;
  margin-right: 20px;
  justify-content: center;
}

#redo {
  margin: 0;
}

.time {
  color: #C1C1C1;
  font-size: 0.8em;
}

.center-footer-top {
  margin-bottom: 10px;
  justify-content: center;
}

.center-footer-bottom {
  align-items: center;
  justify-content: center;
}

.bar-lightgrey {
  width: 10%;
  height: 4px;
  border-radius: 30px;
  background-color: #C1C1C1;
  margin-left:  20px;
  display: inline-block;
}

.bar-lightgrey:hover {
  width: 10%;
  height: 4px;
  border-radius: 30px;
  background-color: var(--bg-sottolineatura);
  margin-left:  20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.bar-lightgrey:hover .circle {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
 
}

.bar-grey {
  width: 40%;
  height: 4px;
  border-radius: 30px;
  display: inline-block;
  margin-right: 20px;
  background-color: #5A5A5A;
}

.col-right-footer {
  align-items: center;
  width: 200px;
  justify-content: center;
  padding-left: 20px;
}

.container-col-right-footer{
  align-items: center;
  width: 100%;
}

.fa-list {
  color: #C1C1C1;
  margin-right: 10px;
}

.fa-desktop {
  color: #C1C1C1;
  margin-right: 10px;
}

.center-footer-bottom {
  width: 100%;
}

.fa-volume-up {
  color: #C1C1C1;
  margin-right: 10px;
}


#bar-lightgrey {
  width: 10%;
  height: 4px;
  margin: 0;
}

#bar-grey {
  width: 30%;
  height: 4px;

  margin: 0;
}
/* /layout footer */ 

/* media query */

@media screen and (max-width: 1100px) {
  .ul-lista-top {
    display: flex;
    flex-wrap: wrap;
  }

  .container-categorie .container-song {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .song-margin {
    margin-left: 35px;
  }

  .song {
    width: calc(100% / 4);
  }

  .container-personal-song {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 700px) {
  .ul-lista-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-song {
    display: flex;
    flex-wrap: wrap;
  }

  .song-margin {
    margin-left: 35px;
  }
  
  .song {
   width: calc(100% / 2);
  }

  .song-daily {
    width: calc(100% / 2);
  }

  .container-personal-song {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  
  .col-left {
    width: 50px;
  }

  .col-right {
    width: calc(100% - 50px);
  }

  .row-top {
    width: calc( 100% - 50px);
  }

   .img-logo {
    display: none;
  }

  .logo-small {
    display: block;
    padding: 0;
    margin: 0 auto;
  }

  .logo {
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .text-menu {
    display: none;
  }

  .svg {
    width: 100%;
  }
  
  .li-menu {
    margin: 0;
    padding: 10px;
  }

  .li-menu-home {
    padding: 0 6px;
  }

  .playlist {
    display: none;
  }

  .lista-playlist {
    display: none;
  }

  .installa {
    display: none;
  }

  .name-profile {
    display: none;
  }

  .app {
    border: none;
    margin: 0;
    padding: 0;
  }

  .download {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container-profile {
    padding: 10px;
  }

  .profile-flex {
    display: block;
  }
}


/* /media query */