/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.flex {
  display: flex;
}

:root {
  --bg-pubblicità: rgba(0, 0, 0, 0.4);
  --bg-colonna-destra-main: #141922;
  --bg-footer: #282828;
  --bg-sottolineatura: #ADFF2F;
  --color-text: #A3A3A3;
}

.margin {
  margin-left: 35px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
}
/* /common */

.general {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* layout main */
main {
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}

.col-left {
  width: 230px;
  background-color: black;
  height: 100%;
  min-height: 480px;
}

.container-left {
  height: calc(100% - 80px);
  width: 100%;
}

.col-right {
  width: calc(100% - 230px);
  background-color: var(--bg-colonna-destra-main);
  height: 100%;
  overflow: auto;
}

.row-top {
  height: 80px;
  width: calc(100% - 230px);
  background-color: var(--bg-pubblicità);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  justify-content: flex-end;
  align-items: center;
}

.row-main {
  padding-top: calc(90px + 2em);
  padding-bottom: 2em;
  width: 100%;
  overflow: auto;
}

.lista-top {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.title {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 40px;
}

.container-song {
  justify-content: space-around;
}

.song {
  margin-bottom: 60px;
  max-width: 300px;
  min-width: 100px;
  padding: 0 10px;
}

.img-song-cover {
  width: 100%;
}

.title-song {
  text-align: center;
  margin: 10px auto;
  width: 100%;
}

.title-playlist {
  color: white;
  font-weight: 600;
}

.subtitle-song {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.subtitle-playlist {
  color: var(--color-text);
  font-weight: 600;
}

.subtitle-playlist-2 {
  margin-top: 10px;
  color: var(--color-text);
  font-weight: 600;
}

.title-daily {
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: 40px;
}
.song-daily {
  margin-bottom: 60px;
  max-width: 300px;
  min-width: 100px;
  padding: 0 10px;
  margin-left: 80px;
}

.container-personal-song {
  margin-left: 17px;
}

.img-song-cover-bottom {
  width: 100%;
  border-radius: 50%;
}
.logo {
  padding: 10px 0 0 15px;
}

.img-logo {
  width: 60%;
  margin-bottom: 30px;
}

.logo-small {
  display: none;
}

.lista-menu {
  margin: 10px 0 0 0;
}

.menu {
  list-style: none;
}

.li-menu {
  margin-bottom: 10px;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.li-menu:hover {
  border-left: 4px solid var(--bg-sottolineatura);
}


.svg {
  width: 15%;
  vertical-align: middle;
}

.text-menu {
  color: var(--color-text);
  font-weight: 600;
  font-size: 0.9em;
}

.text-menu:hover {
  color: white;
}

.playlist {
  margin: 30px 0 0 0;
  padding-left: 15px;
}

.text-playlist {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.add-playlist {
  height: 40px;
  width: 40px;
  background-color: var(--color-text);
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.text-create-playlist {
  line-height: 40px;
  color: var(--color-text);
  display: inline-block;
  font-weight: 600;
}

.plus {
  font-size: 2.5em;
  color: black;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
}

.lista-playlist {
  margin: 10px 0 0 0;
  padding-left: 15px;
  height: 30vh;
  overflow: auto;
}

.name-playlist {
  list-style: none;
}

.li-name-playlist {
  color: var(--color-text);
  font-weight: 600;
  margin-top: 20px;
}

.container-profile {
  width: 100%;
  height: 80px;
}

.app {
  width: 93%;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-text);
  padding: 10px 0;
}

.download {
  width: 10%;
  vertical-align: middle;
  margin-right: 10px;
}

.installa {
  color: var(--color-text);
  font-weight: 600;
}

.profile-flex {
  width: 93%;
  margin: 10px auto 10px auto;
  display: flex;
}

.img-profile {
  width: 70%;
  margin-right: 10px; 
  margin: 0 auto;
}

.container-img-profile {
  width: 30px;
  height: 30px;
  background-color: var(--color-text);
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
}

.name-profile {
  line-height: 30px;
  color: var(--color-text);
  font-weight: 600;
}


.btn-call-to-action {
  padding: 15px 40px;
  margin-right: 25px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid white;
  
}
.btn-call-to-action:hover {
  cursor: pointer;
}

.text-btn {
  color: white;
  font-weight: 800;
}
@media screen and (max-width: 600px) {
  .col-left {
    width: 50px;
  }
  .col-right {
    width: calc(100% - 50px);
  }
  .row-top {
    width: calc( 100% - 50px);
  }
}

@media screen and (max-width: 600px) {
  .img-logo {
    display: none;
  }
  .logo-small {
    display: block;
    padding: 0;
    margin: 0 auto;
  }
  .logo {
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .text-menu {
    display: none;
  }

  .svg {
    width: 100%;
  }
  
  .li-menu {
    margin: 0;
    padding: 10px;
  }

  .playlist {
    display: none;
  }

  .lista-playlist {
    display: none;
  }

  .installa {
    display: none;
  }

  .name-profile {
    display: none;
  }

  .app {
    border: none;
    margin: 0;
    padding: 0;
  }

  .download {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .container-profile {
    padding: 10px;
  }

  .profile-flex {
    display: block;
  }
}

.ul-lista-top {
  list-style: none;
  display: flex;
  justify-content: center;
}

.li-lista-top {
  padding: 5px 15px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bordo {
  width: 30px;
  height: 2px;
  overflow: hidden;
}

.li-lista-top:hover .bordo {
  width: 30px;
  height: 2px;
  background-color: var(--bg-sottolineatura);
  display: block;
}

.h1 {
  color: white;
  font-weight: 700;
}

footer {
  height: 90px;
  width: 100%;
  background-color: var(--bg-footer);
}
/* /layout main */